*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.main{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    height: 100vh;
}

.rank{
    width: 30%;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    padding: 2rem;
    border-radius: 0.4rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.rank input{
    padding: 0.5rem;
    display: block;
    outline: none;
    width: 100%;
    margin: 1rem 0;
}

.rank button{
    border: none;
    outline: none;
    color: white;
    background-color: green;
    padding: 0.5rem 1rem;
    margin: 0.5rem 0;
    border-radius: 0.3rem;
}


.rank h5{
    margin: 0.5rem 0;
    font-size: 1.1rem;
    font-weight: normal;
}

.section{
    margin: 0.5rem 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    padding: 1rem;
}


.section h1,h3{
    font-weight: normal;
    margin: 0.5rem 0;
}

.subsection{
    width: 40%;
    background-color: rgb(82, 80, 80);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border-radius: 0.5rem;
}


@media screen and (max-width: 800px) {
    .rank{
        width: 90%;
        margin: auto;
    }

    .subsection{
        width: 90%;
        margin: 0.5rem 0;
    }
}